* {
  box-sizing: border-box;
}

p,
input {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03",
    "cv04", "cv05", "cv06", "cv09", "cv10";
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  background-color: #f7f7f7;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

h1 {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 3em;
  color: #c3000d;
}

label {
  padding: 4px;
}

ul {
  padding: 0;
}

button {
  font-family: "Poppins", sans-serif;
}
select,
button,
input {
  padding: 10px;
  border-radius: 4px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.text p {
  /* padding-left: 190px; */
  max-width: 510px;
  text-align: start;
  margin: 0;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin: 0;
}

#imageContainer {
  display: grid;
  margin-top: 10px;
  margin: 0;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.album-container {
  /* Estilo do album-container */
  /* Por exemplo: */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#downloadButton {
  display: none;
  border: none;
  cursor: pointer;
  background-color: #28a745;
  color: #ffffff;
  text-transform: uppercase;
}

#downloadButton:hover {
  background-color: #1e7e34;
}

.generateButton {
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #c3000d;
  color: #ffffff;
  text-transform: uppercase;
  width: 100px;
}

.generateButton:hover {
  background-color: #9c000a;
}

.pages {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  padding: 10px;
}

nav a:hover {
  color: #c3000d;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

footer::before {
  content: "";
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #9c000a;
  font-size: 1em;
}

a:hover {
  color: #c3000d;
}

.socialMedias {
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 2rem;
}

.socialMedias img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
    padding: 0px;
  }
  select,
  button,
  input {
    padding: 5px;
    margin-bottom: 0px;
  }

  #controls {
    margin-bottom: 5px;
  }
  #userInput {
    width: 100px;
    height: 24px;
  }
}
.album {
  position: relative;
}

.album-name,
.album-playcount {
  position: absolute;
  left: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

.album-name {
  top: 0;
}

.album-playcount {
  bottom: 0;
}

.optionals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .optionals {
    flex-wrap: wrap;
    gap: 0;
    order: 0;
    text-align: center;
    font-size: 0.8em;
    justify-content: flex-start;
  }
  .generateButton {
    display: block;
    /* width: 100%; */
    font-size: 1em;
    order: 1;
  }
  .text p {
    font-size: 0.8em;
  }
  #downloadButton {
    display: none;
    width: 100%;
    font-size: 1em;
    order: 2;
  }
  #controls {
    justify-content: start;
  }
  #userInput {
    width: 100%;
    height: 32px;
  }
  #timeRange {
    width: 100%;
    /* max-width: 300px; */
  }
  #gridSize {
    width: 100%;
    /* max-width: 300px; */
  }
  .optionals {
    font-size: 1em;
  }
  .generateButton {
    font-size: 1.2em;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #controls {
    flex-wrap: wrap;
  }
}

.generated-image {
  display: block;
  margin-top: 16px;
  max-width: 100%;
  height: auto;
}
input:focus {
  outline: none;
  border: 1px solid #c3000d;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
