form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  width: 100%;
}

form button {
  border: none;
  background-color: #c3000d;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

form button:hover {
  background-color: #9c000a;
}

form input,
button,
select {
  border: 1px solid #c3000d;
  border-radius: 4px;
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border: 1.5px solid #c3000d;
}

.optionals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  width: 80%;
}

.user-input {
  width: 80%;

  input {
    width: 100%;
  }
}

.select-options {
  display: flex;
  width: 80%;
  gap: 2rem;

  .select {
    display: flex;
    flex-direction: column;

    select {
      width: 225px;
    }
  }
}

.optionals input[type="checkbox"] {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    align-items: flex-start;
  }
  form input,
  select {
    width: 100%;
  }
  form button {
    width: 100%;
    font-size: 1.2em;
  }
  .optionals {
    justify-content: space-between;
  }

  .user-input,
  .select-options,
  .optionals {
    width: 100%;
  }

  .select-options {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .select {
      width: 100%;

      select {
        width: 100%;
      }
    }
  }
}
