* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f7;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03",
    "cv04", "cv05", "cv06", "cv09", "cv10";
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  padding: 6px;
}

a {
  text-decoration: none;
  color: #c3000d;
  font-size: 1.2em;
}

h2 {
  font-size: 1.5em;
  color: #c3000d;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 1.2em;
  color: #c3000d;
  text-align: center;
  padding: 10px;
}

.botao {
  background-color: #c3000d;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 20px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.redes img {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  color: #c3000d;
  text-align: center;
  padding: 10px;
}

ul {
  padding: 10px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
    padding: 0;
  }
  h2 {
    font-size: 1.2em;
    padding: 0;
  }
  h3 {
    font-size: 1em;
  }
}
