footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  gap: 5px;
  width: 100%;
}

footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ececec;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.social-medias a:hover {
  color: #c3000d;
  transition: 0.3s;
}

.link-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-pages a:hover {
  color: #c3000d;
}

.author {
  color: #c3000d;
}

.author:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer {
    padding: 0px;
  }

  .social-medias {
    gap: 20px;
  }

  .link-pages {
    gap: 10px;
  }
}
