/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03",
    "cv04", "cv05", "cv06", "cv09", "cv10";
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}
